.Qilim
    width: 100%
    height: 100px
    background-image: url("../../../../images/qilimi-pattern.png")
    background-size: 140px
    background-repeat-x: repeat 
    background-repeat-y: no-repeat