@import '../../colors'
    
.QuickInfo
    width: 1366px
    padding: 20px
    margin: 50px auto
    display: flex
    justify-content: space-between
    background-color: white
    border: 1px solid #e2e2e2
    border-radius: 3px
    .info
        width: 250px
        display: flex
        align-items: center
        img 
            margin-right: 20px
        .words
            font-family: "SF Pro", sans-serif
            color: $secondary
            .upper
                font-weight: bold 
            .lower
                font-weight: light
                font-size: 1.1rem

@media(max-width: 1406px)
    .QuickInfo
        width: 90%
        overflow: visible