@import '../colors.sass'

button
    font-family: "SF Pro", sans-serif
    padding: 12px 50px
    font-size: 1.6rem
    font-weight: lighter
    border-radius: 3px
    transition: 0.3s background-color cubic-bezier(.17,.67,.01,.88)
    &:hover 
        cursor: pointer
    &.skeleton
        background-color: transparent
        color: white
        border: 1px solid white
        outline: none
        box-shadow: none
        &:hover 
            background-color: mix(transparent, white, 50)
    &.primary
        background-color: $attention
        color: white
        border: 1px solid $attention
        border-radius: 3px
        outline: none
        box-shadow: none
        padding: 7px 40px
        &:hover 
            background-color: mix(white, $attention, 10)
    &.checkout
        background-color: $secondary
        color: white
        border: 1px solid $secondary
        border-radius: 3px
        outline: none
        box-shadow: none
        padding: 7px 40px
        &:hover 
            background-color: mix(white, $secondary, 10)
    &.success
        background-color: $primary
        color: white
        border: 1px solid $primary
        border-radius: 3px
        outline: none
        box-shadow: none
        padding: 7px 40px
        &:hover 
            background-color: mix(white, $primary, 10)