@import '../colors'

@keyframes appear
    0%
        transform: translateX(-10px)
        opacity: 0
    100%
        transform: translateX(0px)
        opacity: 1
.Menu
    position: relative
    width: 1366px
    height: 60px
    margin: 0 auto
    display: flex
    justify-content: space-between
    overflow: visible
    border-bottom: 1px solid $border
    .navigation
        display: flex
        justify-content: flex-start
        .all
            display: flex
            padding-left: 0
            width: 250px
            font-family: "SF Pro", sans-serif
            font-size: 1.7rem
            padding: 0
            background-color: $secondary
            color: white
            align-items: center
            margin-top: 0
            white-space: nowrap
            transition: 0.2s width $easing
            text-decoration: none
            &:hover
                background-color: mix(white, $secondary, 10)
                cursor: pointer
            svg
                margin-right: 20px
                height: 1.8rem
                margin-left: 20px
                path 
                    fill: $background
        nav 
            position: relative
            display: flex
            height: 100%
            align-items: center
            margin-top: 0
            margin-right: 20px
            overflow-x: auto 
            .link
                display: flex
                font-family: "SF Pro", sans-serif
                color: $secondary
                font-size: 1.7rem
                padding: 0 20px
                text-decoration: none
                height: 100%
                align-items: center
                margin-top: 0
                white-space: nowrap
                transition: 0.5s background-color cubic-bezier(.17,.67,.01,.88)
                &:hover
                    cursor: pointer
                    background-color: mix(#fff, $secondary, 90)
                    color: #000
    .contact
        display: flex
        .contact-item
            display: flex
            align-items: center
            font-size: 1.2rem
            font-family: "SF Pro", sans-serif
            margin-right: 20px
            white-space: nowrap
            svg 
                margin-right: 10px
            &:last-child
                margin-right: 0
            .Polaris-Icon
                margin-right: 10px
                fill: transparent
                stroke: $secondary
                stroke-width: 2px
                height: 1.8rem
        div
            margin-right: 20px
            .contact-item
                height: 100%
                display: flex
                justify-content: center
                align-items: center
                color: mix(white,$secondary,20%)
                border: none
                font-size: 1.2rem
                svg
                    width: 20px
                    path
                        fill: #333
                        stroke: transparent
    .collections
        position: absolute
        left: 0
        top: 100%
        padding: 0
        margin: 0
        width: 250px
        height: auto
        max-height: 700px
        overflow-y: auto
        transition: 0.3s max-height cubic-bezier(.17,.67,.01,.88)
        background-color: mix(transparent, white, 8)
        transition: 0.2s width $easing
        z-index: 1
        a
            display: flex
            justify-content: space-between
            align-items: center
            text-decoration: none
            width: 100%
            padding: 14px 20px
            background-color: white
            color: $secondary
            transform: translateX(-10px)
            opacity: 0
            animation: 0.2s appear cubic-bezier(.17,.67,.01,.88) forwards
            transition: 0.2s width $easing
            &:hover
                cursor: pointer
                background-color: mix(white, $secondary, 90)
            .Polaris-Icon
                height: 1.4rem
                fill: $secondary
                margin: 0
    .products
        position: absolute
        left: 250px
        top: 100%
        padding: 40px
        margin: 0
        width: calc( 100% - 250px )
        height: 700px
        transition: 0.3s max-height cubic-bezier(.17,.67,.01,.88)
        background-color: $background
        overflow: hidden
        display: flex
        flex-wrap: wrap
        border: 1px solid #eee
        gap: 8px
        z-index: 2
        .Product
            margin-bottom: 20px

@media(max-width: 1406px)
    .Menu
        width: 100%
        padding-right: 5%
        padding-left: 5%
        background-color: $secondary
        color: white
        fill: white
        .navigation
            .all
                svg
                    margin-left: 0
            nav
                .link
                    color: white
                    &:hover
                        background-color: mix(white, $secondary, 10)
                        color: white
        svg
            fill: white
        .contact .contact-item 
            .Polaris-Icon svg path
                fill: white
            .text
                color: white
        .products
            width: calc(90% - 250px)
            left: calc(5% + 250px)
        .collections
            margin-left: 5%
            a
                opacity: 1


@media(max-width: 1160px)
    .Menu
        nav
            display: none

@media(max-width: 960px)
    .Menu
        .collections
            display: none

@media(max-width: 748px)
    .Menu
        height: 45px
        nav .link, .all
            font-size: 1.4rem

@media(max-width: 718px)
    .Menu
        .navigation
            .all
                width: 200px
                font-size: 1.2rem
                svg
                    height: 1.2rem
            nav .link
                font-size: 1.2rem   
        .collections
            width: 200px
            a 
                padding: 8px 20px
                font-size: 1.2rem
                .Polaris-Icon
                    display: none
        .products
            display: none


@media(max-width: 666px)
    .Menu
        .contact .contact-item, .contact div > .contact-item
            .Polaris-Icon
                margin-right: 0
            .text
                display: none

@media(max-width: 600px)
    .Menu
        .navigation
            .all
                width: 160px
                svg 
                    margin-right: 5px
        .collections
            width: 160px

@media(max-width: 300px)
    .Menu
        .navigation
            width: 50%
            .all
                width: 100%
        .collections
            width: 50%




        