@font-face
  font-family: "SF Pro"
  src: url("./fonts/SFPro.ttf")

@import './components/colors'

::-webkit-scrollbar-track
    -webkit-box-shadow: none
    background-color: $background-darker

::-webkit-scrollbar
    width: 5px
    background-color: $background-darker

::-webkit-scrollbar-thumb
    background-color: $secondary
    border: none
