@import '../../colors.sass'

.Showcase
    width: 1366px
    height: auto
    margin: 40px auto
    display: flex
    flex-direction: column
    background-color: $background
    h2 
        color: $tertiary
        font-size: 2.4rem
        font-family: "SF Pro", sans-serif
        font-weight: bold
        margin-bottom: 40px
    .categories
        width: 100%
        height: auto
        display: flex
        justify-content: space-between
        border-bottom: 4px solid $tertiary
        padding-bottom: 0
        margin-bottom: 0
        overflow: hidden
        position: relative
        .list
            display: flex
            width: calc(100% - 60px)
            justify-content: flex-start
            margin: 0
            padding-left: 0
            overflow-x: hidden
            margin-bottom: -1px
            .menu-wrapper--inner
                width: calc(100% - 60px) !important
                white-space: nowrap
            .collection
                color: $tertiary
                padding: 8px 40px
                font-size: 1.5rem
                display: flex
                justify-content: center
                align-items: center
                height: 100%
                margin-bottom: 0
                width: auto
                white-space: nowrap
                transition: 0.1s background-color linear, 1.8s color cubic-bezier(.17,.67,.01,.88)
                &:hover
                    cursor: pointer
                    background-color: mix(#fff, $tertiary, 95)
                &:focus
                    border: none
                    outline: none
                &.selected
                    background-color: $tertiary
                    color: $background
        .arrows
            width: 60px
            display: flex
            justify-content: space-between
            align-items: center
            svg:hover
                cursor: pointer

@media(max-width: 1406px)
    .Showcase
        width: 90%
        overflow: hidden